* {
    box-sizing: border-box;
    text-align: center;
    color: #9D2933;
    margin: 0;
}

header {
    display: inline-flex;
}

h1 {
    font-size: 40px;
    width: 275px;
}

#family-crest {
    width: 80px;
}

.address {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 0%;
}

#address-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -20px;
}

.japan-address {
    font-family: 'Yuji Hentaigana Akari', cursive;
    margin: 12px;
}

.english-address {
    margin: 12px;
}

#name {
    font-family: 'Yuji Hentaigana Akari', cursive;
    font-family: 'Zen Antique Soft', serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.kimono-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.kimono-pic {
    min-width: 350px;
    max-width: 50%;
    height: auto;
}

.kimono-size {
    min-width: 350px;
    max-width: 50%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 69px;
    margin: 20px;
}

@media only screen and (min-width: 481px) {
    body {
        -webkit-text-size-adjust: 0%;
        -ms-text-size-adjust: 0%;
    }

    h1 {
        font-size: 40px;
        width: 272px;
        position: relative;
        top: 40px;
        left: -17%;
    }

    #family-crest {
        position: relative;
        height: 150px;
        width: auto;
        top: 20px;
        left: -35%;
    }

    #address-block {
        top: -55px;
        left: -30px;
    }

    main {
        position: relative;
        top: -50px;
    }
}
